@charset "UTF-8";
@import "constant";
@import "mixins";

/*
 * 全局样式
 */
#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html {
  min-width: 1000px;
  body {
    margin: 0;
  }
}

/*
 * \order\index.vue
 */
.orderTitle {
  .is-scrolling-none {
    display: none;
  }
}
